.container {
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.page {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}