.container {
    height: 340px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.loginPage {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.inputBox{
    align-self: flex-start;
}